*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #d9b0ff;
}

.logo{
    width: 50vmin;
}
#logo-png{
    width: 20vmin;
    margin: 2vmin;
}
h1{
    text-align: center;
    margin: 30px;
    color: #6c04cd;
}
p {
    text-align: justify;
    color: #8400ff;
    width: 40%;
    position: absolute;
    left: 28%;
    margin-top: 3vmin;
    font-size: 1.27rem;
}
hr {
    background-color: #6c04cd;
    width: 20%;
    height: 0.67vmin;
    border-radius: 2vmin;
    position: absolute;
    left: 28%;
}