
.container{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding: 2%;
    @media only screen and (max-width:200px){
      .container{
       flex-direction: column;
      }
        
    }
}
.left-nav{
 background-color: aqua;  
 border: 3px solid beige; 
 border-radius: 10px;
}
.left-nav span{
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
 
}
.center-nav{
    background-color: gray;
    border: 3px solid beige;
    border-radius: 30px;

}
.center-nav nav ul{
    display: flex;
    gap:40px

}
.center-nav nav ul li{
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    font-family: serif;
}
.center-nav nav ul li:hover{
    color: red  ;
}
.right-nav{
    background-color: blueviolet;
    border: 3px solid beige;
    border-radius: 5px;
    

}
.right-nav input{
    outline: none;
    margin-right: 5px;
    border-radius: 5% ;
    text-align: center;
}