*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left ,.right{
width: 300px;
min-height: 400px;
margin: 20px;
border: 2px dashed white;

}
.list{
background: #e91e63;
height: 60px;
margin: 30px;
color: #ffffff;
display: flex;
align-items: center;
cursor: grab;
border: 0;
outline: 0;
border-radius: 10px;

}
.list img{
    width: 30px;
    margin-right: 15px;
    margin-left: 25px;

}