*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #edeaff;
}
.stopWatch{
    width: 90%;
    max-width: 600px;
    background-image: url('./bgImage.jpeg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 40px 0;
    color: white;
    margin: 160px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.9);


}
.stopWatch h1{
    margin-top: 30px;
    font-size: 64px;
    font-weight: 400;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}
.button img:nth-child(2){
    width: 80px;

}
.button img:nth-child(1){
    border: 0;
    outline: 0;
    border-radius: 50px;
}
.button img:nth-child(3){
    border: 0;
    outline: 0;
    border-radius: 40px;
}