.productThumb{
    width: 100%;
    height: auto;
    border: 1px solid rgba(0,0,0,0.1);    
    overflow: hidden;
    border-radius: 15px;
    padding: 25px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.productThumb .badge{
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    background: red;
    color: #fff;
    padding: 10px 25px;
    font-size: 16px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 5px;

}
.productThumb .badge.hot{
        background: #f34b81 !important;
}
.productThumb .badge.sale{
    background: #67bcee !important;
}
.productThumb .badge.new{
    background: #3BB77E !important;
}
.productThumb .badge.best{
    background: #f59758 !important;
}
.productThumb:hover{
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16),0px 3px 6px rgba(0,0,0,0.23);
}
.productThumb  .imageWraper{
    width: 100%;
    overflow: hidden;

}
.productThumb:hover .imageWraper img{
    transform: scale(1.1);
}
.productThumb .imageWraper .overlay{
    position: absolute;
    top: -100px;
    left: 0px;
    width: 83.3%;
    height: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0.8);
}
.productThumb:hover  .imageWraper .overlay{
    opacity: 1;
    transform: scale(1);
    background-color: rgba(255,255,255,0.5 );
}
.productThumb .imageWraper .overlay ul{
    /* background-color:rgba(0,0,0,0.9); */
    background-color: #fff;
    width: 148px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #BCE3C9;
}
.productThumb .imageWraper .overlay ul li{
    margin-right: 0px;
}
.productThumb .imageWraper .overlay ul li a{
    display: block;
    padding: 10px;
    border-right: 1px solid #BCE3C9;

}
.productThumb .imageWraper .overlay ul li a svg{
    color: #3bb77e;
}
.productThumb .imageWraper .overlay ul li a:hover svg{
    color: #000;
    opacity: 0.6;
}
.productThumb  .imageWraper img{
    transition: all 0.3s ease-in-out;

}
.productThumb .catName{
    color: #000;
    opacity: 0.8;
    font-size: 14px;
}
.productThumb .title{
    margin: 10px 0px;
}
.productThumb .title a{
    font-size: 17px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    line-height: 25px;
}
.productThumb .brand{
    color: rgba(0,0,0,0.8);
}
.productThumb .brand a{
    text-decoration: none;
}

.productThumb button{
    position: absolute;
    right: 3px;
    font-size: 15px;
    color: #3bb77e ;
    padding: 5px 10px;
    text-transform: capitalize;
}
.productThumb button:hover{
    background-color: #3bb77e;
    color: #fff;
    
}
