.outerdiv{
    position: absolute;
    top:15%;
    left: 25%;
    width: 50%;
    margin: 18px auto;
    color: orange;
    background-color: rgb(108, 94, 94);
    padding: 15px ;
    border-radius: 30px;
    
}
.h1{
    color: white;
    text-align: center;
}
.innerdiv{
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
}
.input{
    outline: none;
    width: 100%;
    padding: 12px 8px;
    border-radius: 130px;
    text-align: center;
    color: orange;

}
.btn{
    outline: none;
    background-color: rgb(69, 69, 187);
    color: white;
    padding: 13px 19px;
    border-radius: 130px;
    
}
.btn:hover{
    background-color: goldenrod;
    color: black;
    font-weight: bold;
}
.range{
    display: flex;
    align-items: center;
    gap:10px;
}
.inputRange{
    cursor: pointer;
}
