header{
   width: 100vw;
   height: auto;
   margin: auto;
   padding: 30px 0;
   
}
header .headerSearch{
    width: 80%;
    height: 40px;
    border: 1px solid #bce3c9;
    padding: 5px 8px;
 
 
}
header .headerSearch .selectDrop{
    width: 25%;
    font-size: 16px;
    font-weight: 300;
    position: relative;
}
header .headerSearch .selectDrop::after{
    content: '';
    width: 1px;
    height: 30px;
    background-color: rgba(109, 241, 180, 0.8);
    position: absolute;
    top: 1px;
    left: 125px;
 

}
header .headerSearch .search{
    width: 27.8%;
    position: absolute;
    top:6.5%;
    left: 20%;
    padding-left: 20px;
    /* background-color: red; */
}
header .headerSearch .search input{
    width: 89%;
    height: 30px;
    border: 0px;
    outline: none;
    font-size: 15px;
}
header .headerSearch .search .searchIcon{
    position: absolute;
    top: 1%;
    left: 90%;
    font-size: 30px;
    opacity: 0.5;

}
header .country .selectDrop{
    width: 170px;
    position: absolute;
    top: 5%;
    left: 51%;
    font-size: 18px;
    opacity: 0.7;
    padding: 5.3px;
    border: 1px solid #bce3c9;
   

}
header .country .selectDrop  .arrow{
    position: absolute;
    top: 8px;
    left: 145px;
}
header .headerTabs {
    padding-bottom: 3%;
    padding-left: 170px;
    
}
header .headerTabs li{
    position: relative;
}
header .headerTabs li span{
    position: relative;
    left: -3em;
    margin:5px;
      
}


header .headerTabs li span .badge{
    width: 6%;
    font-weight: 400;
    position: absolute;
    top: -20px;
    left: 1px;
}

.dropdownMenu{
    position: absolute;
    top: 120%;
    left: -6em;
    width: 190px;
    height: auto;
    background: #fff;
    border: 1px solid black;
    z-index: 1;
 
}
.dropdownMenu li{
    width: 100%;
    list-style: none;
    position: absolute;
    right: 20%;

  


}

.dropdownMenu li button{
    width: 100%;
    text-align: left;
    color:rgba(0 0 0 0.9);
    text-transform: capitalize;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    padding: 5px;
    
}
.dropdownMenu li button img{
    opacity: 0.7;
    margin-right: 10%;
}
.dropdownMenu li button:hover{
    background-color: #edd1d1;
}