@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");
.homeSlider{
    padding: 25px 0px;
}
.home_slider_main{
    border-radius: 25px;
    overflow: hidden;
    
}