*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 100vh;

}
.container{
    width: 100vw;
    height: 100vh;
    border: 5px solid white;
    background-color: rgb(69, 25, 25);
    /* padding: 4rem; */
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    

}
.item{
    /* width: 220px;
    height: 220px; */
    background-color: rgb(156, 73, 73);
    border: 2px solid white;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: x-large;
   color: white;
   font-weight: bold;

}
.header ,.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}
.SideBar{
    grid-row-start: 2;
    grid-row-end: 4;
    text-overflow:unset;

}
.Content{
    grid-column-start: 2;
    grid-column-end: 4;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
   
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:azure;
    
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(38, 152, 245);
    
}

