.container{
    margin: 15px 12px;
    background-color: rgb(244, 219, 244);
    min-height: 80vh;
    padding: 8px;
    border-radius: 5px;
}
.addTodo{
    margin: 8px;
}
h2{
    font-size: x-large;
    font-weight: bold;
}
#input{
    width: 25%;
    padding: 6px;
}
.btn{
    background-color: rgb(201, 131, 201);
    padding: 8px;
    /* padding-top: 2px; */
    font-size: small;
    font-weight: bold;
    margin: auto 6px;
    border-radius: 12px;
    text-align: center;


}
.btn:hover{
    background-color: rgb(177, 86, 243);
}
.todo{
    display: flex;
    justify-content: space-between;
    width: 1/4;
    margin-top: 5px;
}