*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container-fluid{
    padding: 0px 40px;
}
.cursor{
    cursor: pointer;

}
.bg-g ,.bg-success{
    background: #3bb77e;
}
.text-g{
    color: #3bb77e;

}